<div class="side_ber_header">
  <div class="header-name">
    <%=link_to "名前が入る", root_path %>
  </div>
  <div class="create_room">
    <%=link_to "チャットを作成する", root_path %>
  </div>
</div>
<div class="rooms">
  <div class="room"> 
    <div class="room_name">
      <%=link_to "chat_room", root_path %>
    </div>
  </div>
  <div class="room"> 
    <div class="room_name">
      <%=link_to "chat_room", root_path %>
    </div>
  </div>
</div>